
@import url(https://fonts.google.com/specimen/Work+Sans);
.work-sans-fonts {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared style */
.display-flex{
    display: flex;
}
/* dark 02 */
.text-gray{
    color: #424242;
}
.dark03{
    color: #727272;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary{
color: white;
background-color: #FF900E;
padding: 20px 25px;
font-size: 1.5rem;
font-weight: 600;
border-radius: 8px;
border: none;
}
.text-primary{
    color: #FF900E;
    }
main{
    max-width: 1440px;
    margin: 0 auto;
}
main>section{
    margin-top: 120px;
}
.fact-description{
max-width: 540px;
}
/* Shared style end */
/* header style */

/* navbar style */
.navbar{
   justify-content: space-between;
   align-items: center;
}
.brand{
    font-weight: bold;
      font-size: 3rem;  /*16px=1rem*/
}
.nav-item{
    list-style: none;
  margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    color: #424242;
    font-size: 18px;
    font-weight: 600px;
}
.navbar,.banner{
    max-width: 1440px;
     margin: 0 auto;
}
/* Banner style */
.banner-container{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner{
 
}
.banner-title{  
     font-weight: bold;
    font-size: 4rem;
}
.banner-sub-title{
    font-size: 1rem;
}
.banner-iamge{
    width: 100%;
}
/* team style */
.team{
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.our-features{
margin-left: 37px;
max-width: 530px;
}
.feature-title{
    font-size: 2.9rem;
}
.feature-description{
    font-size: 1rem;
}
.quick-list{ 
    font-weight: 200;
}
.bold{ 
    font-weight: bold;
   }
/* Some facts style */
.facts-title{
    font-weight: bold;
    font-size: 2.5rem;
}
.facts-sub-title{
    font-size: 1rem;
}
.fact-container{
display: grid;
grid-template-columns: repeat(4,1fr);

}
.facts-card{
    width: 240px;height: 240px;
border: 1px solid #FF900E ;
border-radius: 8px;
text-align: center;
align-content: center;
justify-items: center;
margin-right:120px ;

}
.fact-number{ 
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
font-weight: 600;
font-size: 1.2rem;
margin-top: 5px;
}
/* fact end */
/* Sponsor Style */
.sponsor-info{
    font-weight: bold;
    font-size: 2.8rem;
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsors-description{
    font-size: 1rem;
    text-align: center;
}
.sponsors-company{
    
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.sponsors-company >img{
    filter: grayscale(100%);
}
/* feature apu start */
.features{
    gap: 100px;
    
}
#feature-section-title{
     border-left: 5px solid tomato;
     padding: 20px;
} 
 .enjoy-description{
    font-size: 1rem;
    color: #727272;
 }   
 .enjoy-card{
    margin-top: 0;
    padding:  25px;
    box-shadow:0 4px 30px 0 rgba(0,0,0,0.06) ;
    margin-bottom: 15px;
    border-radius: 8px;
 }
 .enjoy-card-title{
    font-weight: 500;
    font-size: 1.2rem;
 }
 .enjoy-card-description{ 
    color: #727272;
    font-size: 1rem;
 }
 /* Button experience */
 #experience-badge{
    padding: 42px 40px;
    font-weight: medium;
    font-size: 1.5rem;
    margin-left: -80px;
    margin-top: -100px;
 }
 #experience-year{
    font-weight: bold;
    font-size: 3.8rem;
 }
.feature-architec img{
     width: 100%; 
}
/* Responsive query */
@media screen and (max-width:576px) {
    .navbar,.nav-links,.team{
        flex-direction: column;
    }
    .team-img-container,.fact-container,.sponsors-company{
        grid-template-columns: 1fr;
    }
    .sponsors-company,.facts,.fact-container{
        justify-items: center;
        grid-template-columns: repeat(3,1fr);
       justify-items: center;
    }
    .fact-container{ 
        margin: 0px auto;
        justify-items: center;
    }
    .our-features{
        margin-left: 20px;
    }
    .features{

    }
    #experience-badge{
        margin: 20px;
        
    }
}
/* medium screen style */
@media screen and (min-width:576px)and (max-width:992px){
    .team{
        flex-direction: column;
    }
}