/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 */
@import url(https://fonts.google.com/specimen/Work+Sans);
.work-sans-fonts {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}